body {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.col-50 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 50%;
  padding: 16px;
  box-sizing: border-box;
}

.image {
  height: 200px;
  width: 400px;
}

.hotel-rating span {
  color: blueviolet;
  font-size: 15px;
}
